<div class="contact">
    <div class="contact-introduction">
        <h1>What do you think?</h1>
        <p>Do you like my work?</p>
        <p>Do you think i have room to imporve?</p>
        <p>Feel free to express your thoughts</p>
    </div>
    <form action="" class="contact-form">
        <div class="form-labels">
            <label for="formName">name</label>
            <br>
            <label for="formEmail">email</label>
            <br>
            <label for="formSubject">subject</label>
            <br>
            <label for="formThoughts">thoughts</label>
        </div>

        <div class="form-texts">
            <input type="text" id="formName" name="formName" placeholder="Name" required>
            <br>
            <input type="text" id="formEmail" name="formEmail" placeholder="Email" required>
            <br>
            <input type="text" id="formSubject" name="formSubject" placeholder="optional">
            <br>
            <textarea name="formThoughts" id="formThoughts" required
                placeholder="Share your thoughts with us"></textarea>
        </div>
    </form>
    <div class="form-button">
        <button class="btn btn-primary">Send</button>
    </div>
    <br>
    <span>
        Your information will not be shared it's just for me to learn and improve
    </span>
</div>