<div class="contact">
    <div class="contact-introduction">
        <h1>What do you think?</h1>
        <p>Do you like my work?</p>
        <p>Do you think i have room to imporve?</p>
        <p>Feel free to express your thoughts</p>
    </div>
    <form [formGroup]="contactForm" class="contact-form">
        <div class="form-labels">
            <label for="name">name</label>
            <br>
            <label for="email">email</label>
            <br>
            <label for="subject">subject</label>
            <br>
            <label for="thoughts">thoughts</label>
        </div>

        <div class="form-texts">
            <input type="text" id="formName" name="name" placeholder="Name" formControlName="name" required
                #formNameRef>
            <br>
            <input type="text" id="formEmail" name="email" placeholder="Email" formControlName="email" required
                #formEmailRef>
            <br>
            <input type="text" id="formSubject" name="subject" formControlName="subject" placeholder="subject"
                #formSubjectRef>
            <br>
            <textarea name="houghts" id="formThoughts" required placeholder="Share your thoughts with us"
                formControlName="thoughts" #formThoughtsRef></textarea>
        </div>
    </form>
    <!-- <p *ngIf="email.errors">Email required</p> -->
    <div class="form-button">
        <button type="submit" class="btn btn-primary" (click)="contactFormSubmit()">Send</button>
    </div>
    <br>
    <span>
        Your information will not be shared it's just for me to learn and improve
    </span>
</div>