.nav-tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #00334D;
    color: white;
    text-transform: capitalize;
    height: 100px;
}

.header-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-heading>h1 {
    margin-bottom: 0px;
}

.header-heading>h2 {
    margin-bottom: 0px;
    margin-left: 40px;
}

.header-navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn-link {
    color: white;
    text-decoration: none;
    text-transform: capitalize;
}

@media all and (max-width: 745px) {
    .nav-tabs {
        display: grid;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
    }

    .header-heading>h2 {
        display: none;
    }
}