.button-div {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 100px;
}

@media all and ((min-width: 700px) and (max-width: 1200px)){
    .button-div {
        margin-right: 70px;
    }
}

@media all and (max-width: 700px) {
    .button-div {
        margin-right: 50px;
    }
}
