.education-component {
    margin-top: 50px;
    margin-left: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.card {
    margin-bottom: 20px;
    word-break: break-word;
    width: 375px;
    height: 375px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
}

.links {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
}

h1,h2,h4{
    font-weight: bold;
    text-decoration: underline;
    text-transform: capitalize;
}

