<div class="education-component">
    <div *ngFor="let item of education; let i = index" class="card-section">
        <div class="card education-card" id={{i}}>
            <div class="card-headline">
                <h1>{{item.course}}</h1>
                <h2>{{item.institue}}</h2>
            </div>

            <div class="card-summary">
                <h4>summary</h4>
                <p>{{item.summary}}</p>
            </div>

            <div class="card-technologies">
                <ngb-accordion activeIds="ngb-panel-{{0}}">
                    <ngb-panel id={{i}} title="Technologies">
                        <ng-template ngbPanelContent>
                            <p *ngFor="let technology of item.technologies">{{technology}}</p>
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>
            </div>

            <div class="card-resources">
                <ngb-accordion activeIds="ngb-panel-{{0}}">
                    <ngb-panel id={{i}} title="Resources">
                        <ng-template ngbPanelContent>
                            <a *ngFor="let resource of item.extra_resources" class="card-link links">{{resource}}</a>
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>
            </div>

            <div class="card-certificate">
                <ngb-accordion activeIds="ngb-panel-{{0}}">
                    <ngb-panel id={{i}} title="Cretificates">
                        <ng-template ngbPanelContent>
                            <img src={{item.certificates}} alt="cretificate">
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>
            </div>
        </div>
    </div>